fastapi
uvicorn
pillow
python-dotenv
numpy
onnxruntime
python-multipart
opencv-python-headless
pydantic
sqlalchemy
psycopg2-binary
passlib[bcrypt]
bcrypt<4.0.0
python-jose[cryptography]
aiofiles
email-validator
reportlab